:root{
    --main-color: #c5b1a7;
    --dark-color: #69452F;
    --light-color: #E7E7E7;
    --contrast-color: #faab66;
    --differential-color: #4b280b;
    --red-color: #9E7047;
}
.distanciamento{
    padding-left: 60px;
    padding-right: 60px;
}
.id{
    width: 15%;
}
.data{
    width: 20%;
}
.cliente{
    width: 40%;
}
.titulo{
    padding-left: 100px;
    font-weight: 600;
}
.subtitulo{
    padding-left: 100px;
    font-weight: 350;
    margin-bottom: 2px;
}
.titulo-cliente{
padding-left: 20px;
font-weight: 600;
}
.subtitulo-cliente{
    padding-left: 20px;
    font-weight: 350;
    margin-bottom: 2px;
}
.telefone{
    width: 17%;
}
.endereco{
    width: 20%;
}
.cpf{
    width: 15%;
}
.salario{
    width: 10%;
}
.titulo-funcionario{
    padding-left: 20px;
    font-weight: 600;
}
.subtitulo-funcionario{
    padding-left: 20px;
    font-weight: 350;
    margin-bottom: 2px;
}
.add-funcionario{
    margin-right: 20px;
    font-weight: 350;
    margin-bottom: 2px;
}
.adicionar-funcionario{
    background-color: var(--main-color);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    border: var(--differential-color) solid 1px;
}
.funcionarioform{
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 20px;
}
.titulo-produto{
    padding-left: 20px;
    font-weight: 600;
}
.subtitulo-produto{
    padding-left: 20px;
    font-weight: 350;
    margin-bottom: 2px;
}
.add-produto{
    margin-right: 20px;
    font-weight: 350;
    margin-bottom: 2px;
}
.adicionar-produto{
    background-color: var(--main-color);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    border: var(--differential-color) solid 1px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.produtoform{
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 20px;
}
.main-title{
    font-size: 25px;
    font-weight: 700;
    align-self: center;
}
.caixa-entrada{
    margin-bottom: 15px;
    width: 500px;
    height: 35px;
    display: flex;
}
.label-text{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 5px;
    padding: 5px 20px 5px 20px;
}
.btn-add-principal{
    background-color: var(--dark-color);
    color: white;
    border: none;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    padding: 9px;
    align-self: center;
}
.btn-add-principal:hover{
    background-color: var(--contrast-color);
    color: var(--dark-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.botoes{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.form-control{
    width: 500px;
    height: 35px;
    border-radius: 20px;
    border: var(--differential-color) solid 1px;
    padding-left: 10px;
}
.container-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    background-color: var(--main-color);
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
    padding-bottom: 40px;
}
.titulo_perfil{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.btn-att-perfil{
    background-color: var(--dark-color);
    color: white;
    border: none;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    padding: 9px;
    align-self: center;
    margin-top: 20px;
    margin-left: 410px;
}
.btn-att-perfil:hover{
    background-color: var(--contrast-color);
    color: var(--dark-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-remover-principal{
    background-color: #ff6459;
    color: white;
    border: none;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    padding: 9px;
    margin-left: 570px;
}
.btn-remover-principal:hover{
    background-color: var(--contrast-color);
    color: var(--dark-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 475px;
    max-height: 645px;
    overflow: auto;
    background-color: var(--main-color);
    border: var(-[--main-color]) solid 1px;
    border-radius: 8px;
}

.modal-img {
    width: 450px;
    height: 450px;
    display: block;
    margin: 0 auto;
    object-fit: cover; /* Isso irá cobrir a área mantendo a proporção original */
    border-radius: 8px;
    margin-top: 2px;
}


.conteudo-text{
    padding-left: 5px;
}

.modal-detalhes {
    margin-top: 20px;
}

.close {
    color: #ff0000;
    float: right;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 10px; /* ajuste conforme necessário para posicionar no canto superior */
    right: 10px; /* ajuste conforme necessário para posicionar no canto direito */
    cursor: pointer;
    z-index: 1; /* Certifique-se de que o botão esteja acima da imagem */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.row{
    display: flex;
    font-weight: 600;
    padding: 0px 20px 0px 20px;
    
}
.quantidade-selecionar{
    width: 60px;
    height: auto;
}
.botao-add-carrinho{
    background-color: var(--dark-color);
    color: white;
    border: none;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    padding: 9px;
    align-self: center;
    margin-bottom: 5px;
}