@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --main-color: #c5b1a7;
    --dark-color: #69452F;
    --light-color: #E7E7E7;
    --contrast-color: #faab66;
    --differential-color: #4b280b;
    --red-color: #9E7047;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--light-color);
}

.button{
    background-color: var(--dark-color);
    color: white;
    border: none;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    padding: 9px;
    align-self: center;
    margin-top: 20px;
    margin-left: 410px;
}
.button:hover{
    background-color: var(--contrast-color);
    color: var(--dark-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button-pequeno{
    background-color: var(--dark-color);
    color: white;
    border: none;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    padding: 9px;
    align-self: center;
    margin-top: 20px;
    margin-left: 410px;
}
.button-pequeno:hover{
    background-color: var(--contrast-color);
    color: var(--dark-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.caixa{
    display: flex;
    position: relative;
    padding-top: 5px;
    width: 800px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 35px;
    border: 15px solid #804600;
    background: #F5BE7C;
    margin-top: 25px;
    margin-left: 100px;
}

.caixa-login{
    display: flex;
    position: relative;
    padding-top: 5px;
    width: 500px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 35px;
    border: 15px solid #804600;
    background: #F5BE7C;
    margin-top: 25px;
    margin-left: 250px;
}


.login-usuario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #7F4600;
    text-align: center;

    /* TITULO */
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cadastro-usuario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #7F4600;
    text-align: center;
    /* TITULO */
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.card-dashboard{
    background-color: var(--main-color);
    width: 10%;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    border:#7F4600 2px solid;
    border-radius: 15px;
}

.text-card{
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #7F4600;
    margin-top: 15px;
}

.caixa-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    background-color: var(--main-color);
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
    padding-bottom: 40px;
}

.att-perfil{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    padding: 25px;
    text-align: center;
    /* TITULO */
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-att-perfil{
    background-color: var(--dark-color);
    color: white;
    border: none;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    padding: 9px;
    align-self: center;
    margin-top: 20px;
    margin-left: 410px;

}
.btn-att-perfil:hover{
    background-color: var(--contrast-color);
    color: var(--dark-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}