{% extends "cliente.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/telaprincipal.css' %}">
    <link rel="stylesheet" href="{% static 'gerenciamento/css/gerenciamento.css' %}">
{% endblock %}

{% block 'dashboard' %}
<body>
    <form id="avaliacao-produto" method="POST" action="{% url 'produto' produto.id_produto %}"> {% csrf_token %}
        <input type="text" name="comentario" value="{{comentario}}">
        <input type="number" name="nota" min="1" max="5" step="0.1" value="{{nota}}">
        <button type="submit">Enviar</button>
    </form>

    <br>

    {% if avaliacoes %}
    <h2>Comentários:</h2>
    <ul>
        {% for avaliacao in avaliacoes %}
            <li>
                <p><strong>Usuário:</strong> {{ avaliacao.usuario }}</p>
                <p><strong>Comentário:</strong> {{ avaliacao.comentario }}</p>
                <p><strong>Nota:</strong> {{ avaliacao.nota }}</p>
                <p><strong>Data:</strong> {{ avaliacao.data }}</p>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Não há comentários para este produto.</p>
    {% endif %}
</body>

{% endblock %}