{% extends "gerente.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'gerenciamento/css/addProduto.css' %}">
{% endblock %}

{% block 'dashboard' %}
<body>
    <div class="main">
        <form action="% url 'addProduto' %" method="POST">{% csrf_token %}
            <div class="main-produto">
                <h2 class="main-title">Adicionar produto</h2>
                #TODO tela de atualizar produto
                <div class="row">
                    <p class="label-text">Nome do produto</p>
                </div>
                <div class="row">
                    <input class="caixa-entrada" type="text" id="nome" name="nome" placeholder="Nome do produto">
                </div>
                <div class="row">
                    <p class="label-text">Descrição</p>
                </div>
                <div class="row">
                    <input class="caixa-entrada" type="text" id="descricao" name="descricao" placeholder="Descrição do produto">
                </div>
                <div class="row">
                    <p class="label-text">Preço</p>
                </div>
                <div class="row">
                    <input class="caixa-entrada" type="text" id="preco" name="preco" placeholder="Preço do produto">
                </div>
                <br>
                <div class="row">
                    <p class="label-text">Categoria</p>
                
                    <div class="option-entrada">
                        <select class="select" id="categoria" name="categoria">
                            <option value="salgado">Salgado</option>
                            <option value="doce">Doce</option>
                            <option value="bolo">Bolo</option>
                            <option value="bebida">Bebida</option>
                        </select>
                    </div>
                    <div class="label-imagem">
                        <label for="imagem">Imagem</label>
                        <input class="imagem" type="file" id="imagem" name="imagem" placeholder="Imagem do produto">
                    </div>
                </div>

            </div>
        <br>

            <div class="add-ingredientes">
                <h3>Ingredientes da receita</h3>
                <span class="btn-add-ingredientes" onclick="addIngrediente()">+ Adicionar um ingrediente</span>
                <div class="ingredientes" id="form-ingrediente">
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <input type="text" class='ingrediente-entrada' id="nome-ingrediente" name="nome-ingrediente" placeholder="Nome do ingrediente" value="{{nome_ingrediente}}">
                        </div>
                        <div class="col-md">
                            <input type="text" class='ingrediente-entrada' id="unidadeMedida" name="unidadeMedida" placeholder="Unidade de medida" value="{{unidade_Medida}}">
                        </div>
                        <div class="col-md">
                            <input type="text" class='ingrediente-entrada' id="quantidade" name="quantidade" placeholder="Quantidade" value="{{quantidade_usada}}">
                        </div>
                    </div>

                </div>
            </div>
            <br>
            
            <br>
            <div class="col-md">
                <div class="row">
                    <input type="submit" value="Adicionar" class="btn-add-principal">
                </div>
            </div>
            
        </form>
    </div>
    <script src="{% static 'gerenciamento/js/gerenciamento.js' %}"></script>
</body>

{% endblock %}