{% extends "gerente.html" %}
{% load static %}


{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/telaprincipal.css' %}">
    <link rel="stylesheet" href="{% static 'gerenciamento/css/gerenciamento.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block 'dashboard' %}
<body>
    <!--main-->
    <div class="main">
        <!--Main navbar-->
        <div class="main-navbar">
            <ion-icon class="menu-toggle" name="menu-outline"></ion-icon>

            <div class="search">
                <input type="text" placeholder="Pesquisar" name="Pesquisar">
                <button class="search-btn">Pesquisar</button>
            </div>

            <div class="add-produto" name="addProduto">
                <a href="{% url 'addProduto' %}">
                    <button class="add-btn">Adicionar produto</button>
                </a>
            </div>
        </div>
        <!--Main highlight-->
        <div class="main-highlight">
            <div class="main-header">
                <h2 class="main-title">Recomendações</h2>
                <div class="main-arrow">
                    <ion-icon class="back" name="chevron-back-circle-outline"></ion-icon>
                    <ion-icon class="next" name="chevron-forward-circle-outline"></ion-icon>

                </div>
            </div>
            <!--highlight menu-->
            <div class="highlight-wrapper">
                {% for produto in produtos|slice:":4" %}
                    <div class="highlight-card" onclick="expandirProduto('{{ produto.nome_produto }}', '{{ produto.descricao }}', '{{ produto.preco }}', '{{ produto.imagem.url }}')">
                        <img class="highlight-img" src="{{ produto.imagem.url }}" alt="{{ produto.nome_produto }}">
                        <div class="highlight-desc">
                            <h4>{{ produto.nome_produto }}</h4>
                            <p>R$ {{ produto.preco }}</p>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div>
        <!--Menu-->
        <div class="main-menus">
            <!--Filter-->
            <div class="main-filter">
                <div>
                    <h2 class="main-title">Menu<br>Categoria</h2>
                    <div class="main-arrow">
                        <ion-icon class="back-menus" name="chevron-back-circle-outline"></ion-icon>
                        <ion-icon class="next-menus" name="chevron-forward-circle-outline"></ion-icon>
                    </div>
                </div>
                <div class="filter-wrapper">
                    <button class="filter-card category-filter" data-category="cardapio">
                        <div class="filter-icon">
                            <ion-icon name="restaurant-outline"></ion-icon>
                        </div>
                        <p>Cardápio</p>
                    </button>
                    <button class="filter-card category-filter" data-category="salgado">
                        <div class="filter-icon">
                            <ion-icon name="fast-food-outline"></ion-icon>
                        </div>
                        <p>Salgados</p>
                    </button>
                    <button class="filter-card category-filter" data-category="doce">
                        <div class="filter-icon">
                            <ion-icon name="ice-cream-outline"></ion-icon>
                        </div>
                        <p>Doces</p>
                    </button>
                    <button class="filter-card category-filter" data-category="bolo">
                        <div class="filter-icon">
                            <i class='bx bx-cake'></i>
                        </div>
                        <p>Bolos</p>
                    </button>
                    <button class="filter-card category-filter" data-category="bebida">
                        <div class="filter-icon">
                            <ion-icon name="cafe-outline"></ion-icon>
                        </div>
                        <p>Bebidas</p>
                    </button>
                </div>
            </div>
            <hr class="divider">
            <!--List of food-->
            <div class="main-detail">
                <h2 class="main-title">Faça seu pedido</h2>
                <div class="detail-wrapper">
                    {% for produto in produtos %}
                    <div class="detail-card produto-card {{ produto.categoria }}" onclick="expandirProduto('{{ produto.nome_produto }}', '{{ produto.descricao }}', '{{ produto.preco }}', '{{ produto.imagem.url }}')">
                        <img class="detail-img" src="{{ produto.imagem.url }}" alt="{{ produto.nome_produto }}">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>{{produto.nome_produto}}</h4>
                                <p class="detail-sub">{{produto.descricao}}</p>
                                <p class="price">R$ {{produto.preco}}</p>
                            </div>
                            <ion-icon class="detail-favorites" name="bookmark-outline"></ion-icon>
                        </div>
                    </div> 
                    {% endfor %}
                </div>
            </div>          
        </div>
    </div>
    <div id="produto-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModal()">&times;</span>
            <img id="produto-imagem-modal" class="modal-img" alt="Imagem do Produto">
            <div class="conteudo-text">
                <h2 id="produto-nome-modal"></h2>
                <p id="produto-descricao-modal"></p>
                <div class="row">
                    <div class="col-md">
                        <p id="produto-preco-modal"></p>
                    </div>
                    <div class="col-md">
                        <label for="quantidade-modal">Quantidade:</label>
                        <input class="quantidade-selecionar" type="number" id="quantidade-modal" name="quantidade-modal" value="1" min="1">
                    </div> 
                </div>
            </div>
            
            <button class="botao-add-carrinho" onclick="adicionarAoCarrinho()">Adicionar ao Carrinho</button>
        </div>
    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<!-- javascript-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="{% static 'usuarios/js/principal.js' %}"></script>
<script src="{% static 'gerenciamento/js/gerenciamento.js' %}"></script>
    
{% endblock %}